[core]
	excludesfile = /Users/will/.gitignore_global
	pager = less -FXRS -x2
[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	llog = log --date=local
	ctags = !.git/hooks/ctags
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
	rum = rebase master@{u}
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetupmerge = true
[push]
	default = matching
[user]
	name = Will Milton
	email = wa.milton@gmail.com
[mergetool "fugitive"]
	cmd = vim -f -c \"Gvdiff\" \"$MERGED\"
[mergetool]
	tool = fugitive
[merge]
	tool = fugitive
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"
[url "http://git.drupal.org/project/"]
  insteadOf = "drupal:"
[github]
	user = winmillwill
[rebase]
	autosquash = true
[ghi]
	token = 95ebd442228bee640c65edfae0a7fe66813aadb3
