[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	llog = log --date=local
	ctags = !.git/hooks/ctags
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	unstage = reset HEAD
	rum = rebase master@{u}
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[branch]
	autosetupmerge = true
[push]
	default = simple
[user]
	name = Will Milton
	email = wa.milton@gmail.com
[mergetool "fugitive"]
	cmd = vim -f -c \"Gvdiff\" \"$MERGED\"
[mergetool]
	tool = fugitive
[merge]
	tool = fugitive
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
	insteadOf = gh:
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"
[url "http://git.drupal.org/project/"]
  insteadOf = "drupal:"
[url "ssh://git@github.com/pantheon-cookbooks/"]
	insteadOf = "pc:"
[url "ssh://git@github.com/pantheon-systems/"]
	insteadOf = "ps:"
[rebase]
	autosquash = true
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[github]
	user = winmillwill
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
